@model ReporteTransaccionesDetalladas
@{

    ViewData["Tittle"] = "Reporte Diario";
}
<partial name="_SubMenu" Model="SubMenuTransacciones.Diario"  />
<h1>Indice de transacciones
</h1>


<div>

    <a asp-action="Crear"  class="btn btn-primary">Crear una nueva transaccion</a>
</div>
<partial name="_ReporteTransaccionesDetalladas" model="Model" />
