@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1>@ViewData["Title"]</h1>
            <p>
                En <strong>APP_Presupuesto</strong>, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta política de privacidad describe qué información recopilamos, cómo la usamos y protegemos tu privacidad al utilizar nuestro sitio web.
            </p>
            <h2>Información que recopilamos</h2>
            <p>
                Recopilamos información personal que nos proporcionas voluntariamente al registrarte en nuestro sitio, como tu nombre, dirección de correo electrónico, y otros datos que puedan ser necesarios para brindarte nuestros servicios.
            </p>
            <h2>Cómo utilizamos tu información</h2>
            <p>
                Utilizamos la información recopilada para personalizar tu experiencia en nuestro sitio, brindarte los servicios solicitados, mejorar nuestros productos y servicios, y para enviarte información relevante sobre actualizaciones y promociones.
            </p>
            <h2>Seguridad de la información</h2>
            <p>
                Nos comprometemos a proteger la seguridad de tu información personal y utilizamos medidas de seguridad apropiadas para protegerla contra accesos no autorizados o divulgaciones.
            </p>
            <h2>Derechos de privacidad</h2>
            <p>
                Respetamos tus derechos de privacidad y te ofrecemos la posibilidad de acceder, corregir, actualizar o eliminar tu información personal en cualquier momento.
            </p>
            <p>
                Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en <a href="#">contactarnos</a>.
            </p>
           
        </div>
    </div>
</div>
