@model Cuentas
@{
    ViewData["Title"] = "Borrar cuenta";

}

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Mensaje"]
    </div>
}



<div class="container mt-5">
    <div class="card  text-light shadow-sm">
        <div class="card-body">
            <h3 class="mb-3 text-dark">¿Está seguro que desea borrar la cuenta  <span class="text-danger">@Model.Nombre</span>?</h3>

            <form asp-action="BorrarCuenta">
                <input type="hidden" asp-for="Id" />

                <div class="d-flex justify-content-between">
                    <button class="btn btn-danger" type="submit">Borrar</button>
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
